@charset "UTF-8";
/*Файл обнулення стилів за замовчуванням*/
/*Видаляємо всі відступи і межі*/
/*Зірочка означає застосування даних параметрів до всіх-всіх тегів html-сторінки*/
* {
  padding: 0;
  /*внутрішній відступ*/
  margin: 0;
  /*Зовнішній відступ*/
  border: 0;
  /*межа-контур*/
}

/*Згідно зі специфікацією CSS ширина блоку складається з ширини контенту (width), значень відступів (margin), полів (padding) і кордонів (border).*/
/*Аналогічно йде і з висотою блоку.*/
/*box-sizing дозволяє змінити цей алгоритм, щоб властивості width і height задавали розміри не контента, а розміри блоку.*/
/*:before і :after - псевдоелементи, які дають можливість відображати бажаний контент до/після вмісту елемента, до якого він додається.*/
*, *:before, :after {
  box-sizing: border-box;
  /*застосовується для зміни алгоритма розрахунку ширини і висоти елемента*/
  -moz-box-sizing: border-box;
  /*Те саме для Firefox*/
  -webkit-box-sizing: border-box;
  /*Safari до версії 5.0, Chrome до версії 10.0, Android до версії 4.0 і iOS Safari до версії 5.0*/
}

/*Видаляємо лінії обводки у деяких браузерів*/
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

/*Робимо вказані нижче теги блочними*/
nav, footer, header, aside {
  display: block;
}

/*Урівнюємо поведінку шрифтів та елементів для різних браузерів*/
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

/*псевдоелемент, котрий видаляє хрестик із форми вводу у браузері Internet Explorer*/
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

/*Псевдоелемент, котрий видаляє лишні відступи і пропуски у браузері Firefox*/
/*В даному випадку застосований до кнопки*/
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.intro {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  color: #fff;
  font-size: 55px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-animation-name: intro;
          animation-name: intro;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.main {
  height: 100vh;
  background: url("../IMG/1.gif") center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 25px 30px 80px;
  overflow: hidden;
}

.clouds {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.clouds__cloud {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  margin: 0 100px 0;
  text-align: center;
  position: relative;
  right: -100%;
  -webkit-animation-name: clouds-moving;
          animation-name: clouds-moving;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.clouds__cloud:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  cursor: pointer;
}
.clouds__cloud:active {
  -webkit-filter: drop-shadow(5px 5px 5px #000);
          filter: drop-shadow(5px 5px 5px #000);
  bottom: -50px;
}

.camel-road {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.camel {
  width: 300px;
  position: relative;
  left: -20%;
  -webkit-animation: camel-moving 7s linear 4s infinite;
          animation: camel-moving 7s linear 4s infinite;
}
.camel img {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.camel:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  cursor: pointer;
}
.camel:active {
  -webkit-filter: drop-shadow(5px 5px 5px #000);
          filter: drop-shadow(5px 5px 5px #000);
  bottom: 50px;
}

@-webkit-keyframes intro {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@keyframes intro {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@-webkit-keyframes camel-moving {
  0% {
    left: -20%;
  }
  100% {
    left: 110%;
  }
}
@keyframes camel-moving {
  0% {
    left: -20%;
  }
  100% {
    left: 110%;
  }
}
@-webkit-keyframes clouds-moving {
  0% {
    right: -100%;
  }
  100% {
    right: 150%;
  }
}
@keyframes clouds-moving {
  0% {
    right: -100%;
  }
  100% {
    right: 150%;
  }
}
